{% extends "layout/customer_base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width:420px">
  <h4 class="mb-3 text-center">Forgot Password</h4>

  <form method="POST">
    <input type="email"
           name="email"
           class="form-control mb-3"
           placeholder="Enter your registered email"
           required>

    <button class="btn btn-outline-dark w-100">
      Send Reset Link
    </button>
  </form>

  <div class="text-center mt-3">
    <a href="{{ url_for('auth.login') }}" class="btn btn-outline-success">Back to Login</a>
  </div>
</div>
{% endblock %}
