{% extends "layout/customer_base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width:420px">
  <h4 class="mb-3 text-center">Reset Password</h4>

  <form method="POST">
    <input type="password"
           name="password"
           class="form-control mb-3"
           placeholder="New password"
           required>

    <button class="btn btn-outline-dark w-100">
      Reset Password
    </button>
  </form>
</div>
{% endblock %}
